<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
</head>
<body>
    <form action="/addnewitem" method="post">
        
        title <input type="text" name="title" > <br>
        carb <input type="text" name="carb"> <br>
        prot <input type="text" name="prot"> <br>
        fat <input type="text" name="fat"> <br>
        cal <input type="text" name="cal"> <br>
        <button type="submit">Add</button>
        
    </form>
    
    


</body>
</html>